.logOutputContainer {
  width: 100%;
  overflow: auto;
}

.logOutput {
  line-height: 1.75;
  white-space: pre-wrap;
}

.logOutput::before {
  content: '> ';
}

.snippet {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
